[submodule "cmip6-cmor-tables"]
	path = cmip6-cmor-tables
	url = https://github.com/PCMDI/cmip6-cmor-tables.git
[submodule "mip-cmor-tables"]
	path = mip-cmor-tables
	url = https://github.com/PCMDI/mip-cmor-tables.git
[submodule "cmip7-cmor-tables"]
	path = cmip7-cmor-tables
	url = https://github.com/WCRP-CMIP/cmip7-cmor-tables
