*.[oa]
*~
*.nc
*.pyc
*.gcno
*.gcda
*.dSYM
*.mod
.cproject
.project
.settings/
.vscode
Test/CMIP5
CMIP5
Makefile
build
dist
test_bin
tests
tests_html
config.log
compile_line.txt
config.status
Tables_csv/standard_output.xls
autom4te.cache
setup.py
include/cmor_locale.h
recipes/cmor/meta.yaml
CMOR.egg-info